In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Data/2_byNumWitnesses.csv")
df.drop(df.columns[0], axis=1, inplace=True)
df

      byNumWitnesses  operatingError  reportingError
0              False        0.182501        0.157814
1               True        0.173888        0.152277
2              False        0.178485        0.172085
3               True        0.176959        0.168870
4              False        0.178678        0.151926
...              ...             ...             ...
1995            True        0.170734        0.159811
1996           False        0.181917        0.165750
1997            True        0.177275        0.164895
1998           False        0.174828        0.161317
1999            True        0.164792        0.158569

[2000 rows x 3 columns]

In [8]:
df[df['byNumWitnesses'] == True]['operatingError'].mean()

0.17527175168167022