In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("Data/0_velocity.csv")
df.drop(df.columns[0], axis=1, inplace=True)
df

      velocity  operatingError  reportingError
0          0.1        0.182501        0.157814
1          0.2        0.165465        0.156653
2          0.3        0.190979        0.158839
3          0.4        0.171407        0.183357
4          0.5        0.164956        0.126666
...        ...             ...             ...
8995       0.5        0.199794        0.164517
8996       0.6        0.242611        0.157367
8997       0.7        0.218457        0.178317
8998       0.8        0.167197        0.108401
8999       0.9        0.183477        0.187320

[9000 rows x 3 columns]

In [ ]:
df.iloc